@font-face {
  font-family: futurista;
  src: url('fonts/PLANK___.TTF') format('truetype');
}

@font-face {
  font-family: desenhada;
  src: url('fonts/edosz.ttf') format('truetype');
}

@keyframes orbitarSombras {
  0% {
    box-shadow: 0px -2px 3px 2px cyan,
                0px 2px 3px 2px red;
  }
  25% {
    box-shadow: 2px 0px 3px 2px cyan,
                -2px 0px 3px 2px red;
  }
  50% {
    box-shadow: 0px 2px 3px 2px cyan,
                0px -2px 3px 2px red;
  }
  75% {
    box-shadow: -2px 0px 3px 2px cyan,
                2px 0px 3px 2px red;
  }
  100% {
    box-shadow: 0px -2px 3px 2px cyan,
                0px 2px 3px 2px red;
  }
}

.titulo {
  letter-spacing: 2px;
  font-size: 32px;
  color: #000000;
  text-align: center;
  padding-top: 10px;
  margin: 20px auto;
  max-width: 500px;
  font-family: futurista;
  background-color: white;
  border-radius: 20px;
  border: solid 2px black;
  box-shadow: 2px 2px 3px 2px cyan, -2px -2px 3px 2px red;
}

body {
background: 
  linear-gradient(45deg, #223853, rgba(10, 15, 28, 0.4), #223853),
  linear-gradient(315deg, rgba(34, 56, 83, 0.8), #0a0f1c, rgba(34, 56, 83, 0.8));
  height: 100vh;
}

.subtitulo {
  margin: 20px auto;
  max-width: 600px;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  border: solid 2px black;
  box-shadow: 2px 2px 3px 2px cyan, -2px -2px 3px 2px red;
  font-family: desenhada;
  animation: orbitarSombras 2s ease-in-out infinite;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.eup {
  margin: 30px auto;
  max-width: 700px;
  font-family: desenhada;
  box-shadow: 2px 2px 3px 2px cyan, -2px -2px 3px 2px red;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  border: solid 2px black;
}

.rodape {
  text-align: center;
}

.redes {
  margin: 20px 600px;
  color: white;
  background-color: black;
  border: #ffffff solid 2px;
  border-radius: 20px;
  box-shadow: 0 0 10px 4px white;
  font-family: futurista;
  font-size: 15px;
  letter-spacing: 2px;
}

.instagram {
  height: 50px;
  width: 50x;
  border-radius: 25px;
  margin-right: 10px;
  box-shadow: -1px -1px 5px 3px rgb(225, 0, 255), 1px 1px 5px 3px rgb(255, 94, 0);
}

.whatsapp {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  box-shadow: 0 0 5px 3px rgb(0, 185, 46);
}

.youtube {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin-left: 10px;
  box-shadow: 0 0 5px 3px rgb(255, 0, 0);
}